body{
    background-color: #7c7676;
    height: 100vh;
    text-align: center;
}
h2{
    font-size: 5vh;
}
p, a{
    font-size: 3vh;
}
a{
    text-decoration: none;
    color: #571982;
}